$primary-color:#1E3B5D;
$secondary-color:#225C94;

$primary-text: #000000;
$secondary-text: #ffffff;

$alert-color: #dc3545;
$warning-color: #ffc107;
$success-color: #28a745;

$light-gray:#dddddd;
$dark-gray: #505050 

